# Dependency directories
node_modules
*-lock.yaml

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# build output
dist/

# Environment variables
.env

# macOS specific files
.DS_Store

# VSCode specific files
.vscode

# Prettier 
.prettierignore