{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^controllers/(.*)$",
    "^middlewares/(.*)$",
    "^models/(.*)$",
    "^routes/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "none"
}
